<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Renamer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Renamer.Properties.Settings>
            <setting name="search1" serializeAs="String">
                <value>7852_2-R-014_069_000-SES-01</value>
            </setting>
            <setting name="replace1" serializeAs="String">
                <value>7852_2-R-014_069_000-SES-01</value>
            </setting>
            <setting name="search2" serializeAs="String">
                <value>7852/2-Р-014.069.000-СЭС-01</value>
            </setting>
            <setting name="replace2" serializeAs="String">
                <value>7852/2-Р-014.069.000-СЭС-01</value>
            </setting>
            <setting name="search3" serializeAs="String">
                <value>Обустройство кустовой площадки №15.3 Северо-Комсомольского месторождения. Этапы 5-41</value>
            </setting>
            <setting name="replace3" serializeAs="String">
                <value>Обустройство кустовой площадки №15.3 Северо-Комсомольского месторождения. Этапы 5-41</value>
            </setting>
            <setting name="search4" serializeAs="String">
                <value>Обустройство кустовой площадки №15.3</value>
            </setting>
            <setting name="replace4" serializeAs="String">
                <value>Обустройство кустовой площадки №15.3</value>
            </setting>
            <setting name="search5" serializeAs="String">
                <value>432219</value>
            </setting>
            <setting name="replace5" serializeAs="String">
                <value>432219</value>
            </setting>
            <setting name="search6" serializeAs="String">
                <value>25.08.22</value>
            </setting>
            <setting name="replace6" serializeAs="String">
                <value>25.08.22</value>
            </setting>
            <setting name="search7" serializeAs="String">
                <value>7852/2</value>
            </setting>
            <setting name="replace7" serializeAs="String">
                <value>7852/2</value>
            </setting>
            <setting name="search8" serializeAs="String">
                <value>014.069.000</value>
            </setting>
            <setting name="replace8" serializeAs="String">
                <value>014.069.000</value>
            </setting>
            <setting name="search9" serializeAs="String">
                <value />
            </setting>
            <setting name="replace9" serializeAs="String">
                <value />
            </setting>
            <setting name="search10" serializeAs="String">
                <value />
            </setting>
            <setting name="replace10" serializeAs="String">
                <value />
            </setting>
            <setting name="wildcard" serializeAs="String">
                <value>False</value>
            </setting>
        </Renamer.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml.Framework" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>